<div class="page-header">
  <h1>What We've Been Reading</h1>
</div>

<%= link_to "List a New Book", new_book_path, class: "btn btn-success" %>

<% @books.each do |book| %>
  <div class="book">
    <strong><%=book.name %></strong>
    <p>I read <strong><%=book.title %></strong> by <em><%=book.author %></em>
    <p><%=book.notes %></p>
    <div class="meta">
      <%= link_to book.created_at.to_formatted_s(:short),  book %>  
      <span class="admin">
        |  <%= link_to "Edit", edit_book_path(book) %> | 
        <%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to delete this book?"} %>

      </span> 
    </div>
  </div>

<% end %>